
  body{
    margin:0;
  }
  
  #background{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background-color: #2e9af1;
    background: -webkit-radial-gradient(center, ellipse cover, #4ab9db 1%,#0d0011 100%);
    background: -moz-radial-gradient(center, ellipse cover, #4ab9db 1%,#0d0011 100%);
    background: -ie-radial-gradient(center, ellipse cover, #4ab9db 1%,#0d0011 100%);
  }
  .bg-home{
    background-color: #08648f;

  }
  .btn-home button{
    min-width: 20rem;
    max-width: 20rem;
  }
  
  #logocontainer{
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    width:44vh;
    height:36vh;
    margin-left:-21vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 100ms;
    cursor:pointer;
    background-color: transparent;
  }
  
  #pelogo{
    display: inline;
    position: relative;
    left: 35%;
    right: 50%;

    /*background-image: url("../img/icono_home.jpeg");*/
    background-repeat:no-repeat;
    background-color: transparent;
  }
  
  .loader{
    display:block;
    position:absolute;
    background-color:#3ebffa;
  }
  
  /*Pretty complex animation, so each side needs its own @keyframes.*/
  
  @keyframes slide1{
    50%{width:32vh; margin-left:0;}
    100%{margin-left:32vh;}
  }
  
  @keyframes slide2{
    50%{height:32vh; margin-top:0;}
    100%{margin-top:32vh;}
  }
  
  @keyframes slide3{
    50%{width:32vh; margin-right:0;}
    100%{margin-right:32vh;}
  }
  
  @keyframes slide4{
    50%{height:32vh; margin-bottom:0}
    100%{margin-bottom:32vh;}
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
}